<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="bg-info">
    <nav th:replace="fragments :: nav"></nav>

    <div class="container">
        <div class="row mt-4">
            <div class="col"></div>
            <div class="col text-center">
                <h4>Employees</h4>
                <table class="table table-dark">
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.username}"></td>
                        <td><a class="btn-sm btn-primary" href="#">Edit</a></td>
                    </tr>
                </table>
                <a class="btn btn-primary" href="/employees/addEmployee">Add</a>

                <h4 class="mt-4">Pending Invites</h4>
                <table class="table table-dark">
                    <tr th:each="invite : ${pendingInvites}">
                        <td th:text="${invite.user.username}"></td>
                    </tr>
                </table>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <section th:replace="fragments :: javascript"></section>

</body>
</html>