<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

    <div th:if="${param.error}">
        <span>Bad credentials</span>
    </div>
    <div th:if="${logout != null}">
        <span>You've been logged out</span>
    </div>
    <form method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password"/>
        <input type="submit" value="Login"/>
    </form>

</body>
</html>