<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

    <center>
        <form method="POST" th:object="${business}">
            <label th:for="name">Name</label>
            <input type="text" th:field="*{name}"/>
            <label th:for="address">Address</label>
            <input type="text" th:field="*{address}"/>
            <input type="submit" value="Create"/>
        </form>
    </center>

</body>
</html>